<div style="padding-top: 25px;">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>
                    Explora por Marca
                </h2>
            </div>
            <div class="card-body">
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm text-center">
                            <img src="/img/logonike.png"
                                 alt="Logo de Nike"
                                 class="card-img-top img-fluid"
                                 style="height: 150px; object-fit: contain; padding: 20px;">
                            
                            <div class="card-body">
                                <h5 class="card-title">
                                    Nike
                                </h5>
                                <p class="card-text">
                                    Descubre los mejores tachones Nike.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm text-center">
                            <img src="/img/logoadidas.jpg"
                                 alt="Logo de Adidas"
                                 class="card-img-top img-fluid"
                                 style="height: 150px; object-fit: contain; padding: 20px;">
                            
                            <div class="card-body">
                                <h5 class="card-title">
                                    Adidas
                                </h5>
                                <p class="card-text">
                                    Descubre los mejores tachones Adidas.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 shadow-sm text-center">
                            <img src="/img/logopuma.png"
                                 alt="Logo de Puma"
                                 class="card-img-top img-fluid"
                                 style="height: 150px; object-fit: contain; padding: 20px;">
                            
                            <div class="card-body">
                                <h5 class="card-title">
                                    Puma
                                </h5>
                                <p class="card-text">
                                    Descubre los mejores tachones Puma.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>